<form class="form-horizontal">
    <fieldset>
        <div class="form-group">
            <label for="vagrantfile" class="col-lg-2 control-label">VBVMS</label>
            <div class="col-lg-10">
                <div id="editor" >
                    <textarea class="form-control" name = "code" id="code"><%= @experiment.generate_vagrantfile_for_followers %></textarea>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <%= link_to "Download", serverfile_download_experiment_path, class: "btn btn-primary" %>
                <a href="#" class="btn btn-danger">Boot All Virtual Machines On Server</a>
            </div>
        </div>
    <fieldset>
</form>

<script>
var editor = CodeMirror.fromTextArea(document.getElementById("code"), {
        lineNumbers: true,     // 显示行数
        indentUnit: 4,         // 缩进单位为4
        //styleActiveLine: true, // 当前行背景高亮
        matchBrackets: true,   // 括号匹配
        mode: 'ruby',     // HMTL混合模式
        lineWrapping: true,    // 自动换行
        theme: 'neat',      // 使用dracula模版
        readOnly: true,
    });

    editor.setOption("extraKeys", {
        // Tab键换成4个空格
        Tab: function(cm) {
            var spaces = Array(cm.getOption("indentUnit") + 1).join(" ");
            cm.replaceSelection(spaces);
        },
        // F11键切换全屏
        "F11": function(cm) {
            cm.setOption("fullScreen", !cm.getOption("fullScreen"));
        },
        // Esc键退出全屏
        "Esc": function(cm) {
            if (cm.getOption("fullScreen")) cm.setOption("fullScreen", false);
        }
    });

</script>
